:root {
  --primary-color: #1a73e8;
  --secondary-color: #ddb744;
  --text-color: #333;
  --background-color: #ebe9e9;
  --text-shadow: #1c170b;
  --font-size: 1rem;
  --font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--font-size);
  font-family: var(--font-family);
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 17rem;
  margin: 0 auto;
  height: 100vh;
  justify-content: center;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: var(--secondary-color);
  text-shadow: 4px 4px var(--text-shadow);
}

footer {
  margin-top: 1rem;
  padding-left: 3rem;
}

p {
  margin-block: 0;
}

p + p {
  margin-top: .25rem;
}

.logo-container {
  margin-bottom: 1rem;
}

.logo {
  width: 100%;
}
